<h2> <%= @user.username%>'s Personal Phantom Page</h2>

<p>Welcome, <%= @user.username%></p><br>
<br>
<a href="/products">My Clothing</a><br>
<br>
<a href="/products/new">Create Clothing</a><br>

if already logged_in redirect to index