<h1>Create Your Clothing</h1>

<a href="/products/:id">Go Back</a>

<form action="/products" method="post">
    <input type="text" name="item" placeholder="item">
    <input type="number" name="price" placeholder="price">
    <input type="text" name="brand" placeholder="brand">
    <input type="submit">
</form>
